html {font-size: 10px;font-family: "Open Sans", Gadget, sans-serif;background-color: rgb(38, 51, 39);}

h1 {font-size: 40px;text-align: center;padding: 0px;color: rgb(0, 0, 0);  }

p {text-align: center;font-size: 16px;line-height: 2;letter-spacing: 1px;color: rgb(255, 255, 255);  }

.border-gradient {border-image-slice: 1;border-width: 2px;}

input {display: block;margin: 10px auto;background-color: transparent;color: rgb(255, 255, 255);
  border-radius: 5px;border-width: 5px;border-image: linear-gradient(35deg, rgb(52, 90, 65) 20%,
  rgb(73, 73, 73) 90%);}

button {display: block;background: linear-gradient(35deg, rgb(52, 90, 65) 40%, rgb(73, 73, 73) 90%);
  color: rgb(0, 0, 0);border-radius: 4px;padding: 20px;text-align: center;font-size: 16px;
    margin: 20px auto;}

.inputbtn { display: block;background: linear-gradient(35deg, rgb(52, 90, 65) 40%, rgb(73, 73, 73) 90%);
  color: rgb(0, 0, 0);border-radius: 4px;padding: 20px;text-align: center;font-size: 16px;
    margin: 20px auto;}

#vette {  display: none; margin: auto; height: 400px; width: 600px; overflow: hidden; }

#imagecontrol { margin: 10px; padding: 15px; display: inline-block;}

#controls { padding: 20px; text-align: center; }

#profpic { filter: sepia(20%); height: 720px; width: 1080px; overflow: hidden; }

#profile { text-align: center;}

#slideshow { padding: 20px; }

a {text-align: center;font-size: 16px;line-height: 2;letter-spacing: 1px;color: rgb(255, 255, 255); }